@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
}

.container {
    background-image: url("images/background\ img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.heading {
    margin: 30px 200px;
    font-weight: 600;
    line-height: 0.9;
    cursor: pointer;
}

#heading2 {
    font-size: 11px;
    font-weight: bolder;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

.navbar {
    display: flex;
    color: rgb(255, 255, 237);
    font-family: 'Poppins', sans-serif;
}

.tabs ul {
    display: flex;
    margin: 30px 150px;
    list-style: none;
    font-weight: 600;
    cursor: pointer;
}

#home {
    padding-right: 35px;
}

#contact {
    padding-left: 35px;
}

section {
    height: 100vh;
}

section.sec2 {
    background-color: #fbf4e0;
}

.sec1 h1 {
    padding: 0px 50px;
}

.sec1 {
    margin: 100px 200px;
    height: 50vh;
    width: 75vw;
    font-family: 'Roboto', sans-serif;
    color: rgb(231, 231, 161);
}

.intro {
    padding: 45px 50px;
    font-size: 17px;
    line-height: 25px;
}

.sec2 h1 {
    display: flex;
    justify-content: center;
    font-size: 80px;
    padding: 50px 0;
    font-family: 'Poppins', sans-serif;
    color: #695439;
}

.sec2 h1:hover {
    text-shadow: rgb(231, 231, 161);
}

.project {
    display: flex;
    justify-content: space-evenly;
}

/* .calculator img {
    height: 40vh;
    width: 30vw;
}

.snake img {
    height: 40vh;
    width: 30vw;
}

.tictactoe img {
    height: 40vh;
    width: 30vw;
} */

.snake video {
    object-fit: cover;
    height: 40vh;
    width: 30vw;
}

.calculator video {
    object-fit: cover;
    height: 40vh;
    width: 30vw;
}

.tictactoe video {
    object-fit: cover;
    height: 40vh;
    width: 30vw;
}